[Unit]
Description=fastapi uvocorn daemon
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory={{service.workingdir}}
ExecStart={{service.execstart}}
StandardOutput=append:/var/log/fastapi.log
StandardError=append:/var/log/fastapi-error.log

[Install]
WantedBy=multi-user.target